 
                
        
        
@media (min-width:992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="40cfc087-5eb8-2367-ae13-1d2f24257b62"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="315809c4-c939-6aa9-f301-8c4adc760534"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="32ce5d06-e067-7910-8b8a-3bc02b5c73c3"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8411b344-7ed1-89ff-b2c4-58832d605324"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8b2d5c2d-60e9-2df6-0868-2f788d316c66"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84723e53-e077-2009-36b7-2db9047692ec"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e901cfca-7807-5c9e-afce-14adc610e848"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="360ec5fa-cb8c-7759-53c5-22d986d3735f"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6b09e631-e34a-331c-9138-47a4ed2f8358"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d916997-352c-6744-1400-08ed0c3715f6"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6a00fcd4-d255-cc94-c1f0-7a3256c71f66"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2541e519-b61d-4980-f131-3e5374ed3532"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="301fb5e8-7da8-c773-7502-60f99bc77838"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="94331164-3bc5-af81-094b-ff90c9b9507d"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1.05, 1.05, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1.05, 1.05, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1.05, 1.05, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1.05, 1.05, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f363bd3e-b703-c369-00d9-61c59ea7c108"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f363bd3e-b703-c369-00d9-61c59ea7c106"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 2VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8aad91f1-d25c-6fbb-8f41-0db9df4da687"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="188b8794-1691-7296-3086-e4668f004d16"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2f6b72d8-b75d-474f-16a8-10ab7ef22abe"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="21c778f4-a1a9-51a0-4da7-575352dafbba"] {
        -webkit-transform: translate3d(0, 107%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 107%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 107%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 107%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0052406-b9c8-f9a5-4138-6b2bd9c5088a"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8aad91f1-d25c-6fbb-8f41-0db9df4da68b"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8aad91f1-d25c-6fbb-8f41-0db9df4da689"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="24f65497-21e1-c434-f8f0-3b54cd5511ee"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="239dea2e-c3d9-07b7-b11d-a54cb1639280"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="24f65497-21e1-c434-f8f0-3b54cd5511f5"] {
        -webkit-transform: translate3d(0, 102%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 102%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 102%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 102%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="24f65497-21e1-c434-f8f0-3b54cd5511f4"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="24f65497-21e1-c434-f8f0-3b54cd5511f2"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="24f65497-21e1-c434-f8f0-3b54cd5511f0"] {
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="57dcfaa3-a566-14d4-8abd-bfc97b5b977e"] {
        -webkit-transform: translate3d(0, 0VH, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0VH, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0VH, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0VH, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: flex;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="4dc14c7c-b97c-817f-7c9b-31ea14f366d5"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b51709ce-afd5-029d-dc79-99d2ec884a3b"] {
        -webkit-transform: translate3d(0, 6VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -moz-transform: translate3d(0, 6VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        -ms-transform: translate3d(0, 6VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
        transform: translate3d(0, 6VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(4DEG) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="345066f5-b01a-ab25-5116-b9f032ff04b5"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7dbf43af-5faa-87fa-77ef-e452bb9718e9"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7116c912-25fa-f264-b34b-ff3a55420c58"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="f0342d88-e0fa-f904-cd75-30e504287834"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="5837a959-2eaa-b77c-6216-1bf7541f16c6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7cbafada-e086-2430-2f33-06aaca8963a1"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 3VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3631fce3-33bc-9e99-aa06-9d5c7ec7b524"] {
        -webkit-transform: translate3d(0, 0VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0VW, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="e2eb8291-82e3-d460-0aa6-3a77ee7f9b2c"] {
        -webkit-transform: translate3d(100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a80d5985-66a0-24f4-ac58-fadcba943910"] {
        -webkit-transform: translate3d(-100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100VW, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
}

@media (max-width:991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="360ec5fa-cb8c-7759-53c5-22d986d3735f"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6b09e631-e34a-331c-9138-47a4ed2f8358"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d916997-352c-6744-1400-08ed0c3715f6"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6a00fcd4-d255-cc94-c1f0-7a3256c71f66"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2541e519-b61d-4980-f131-3e5374ed3532"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="301fb5e8-7da8-c773-7502-60f99bc77838"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b75925db-c1fc-9104-6907-706288524e02"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="65679573-7b3a-c13e-25ec-26a018ada495"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="99ad6557-d450-737f-bb3a-952bc226c20e"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d26c2b2a-5707-3f0d-7132-be46ec065c3d"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="67e061ba-08ad-c46a-7715-c8f04175ed3e"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="55ea49e9-a223-ec94-f840-544a50bd669f"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b67d24e8-352f-5e57-986b-05db73e49b97"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="345066f5-b01a-ab25-5116-b9f032ff04b5"] {
        display: none;
    }
}

@media (max-width:767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="360ec5fa-cb8c-7759-53c5-22d986d3735f"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6b09e631-e34a-331c-9138-47a4ed2f8358"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d916997-352c-6744-1400-08ed0c3715f6"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6a00fcd4-d255-cc94-c1f0-7a3256c71f66"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2541e519-b61d-4980-f131-3e5374ed3532"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="301fb5e8-7da8-c773-7502-60f99bc77838"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b75925db-c1fc-9104-6907-706288524e02"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="65679573-7b3a-c13e-25ec-26a018ada495"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="99ad6557-d450-737f-bb3a-952bc226c20e"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d26c2b2a-5707-3f0d-7132-be46ec065c3d"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="67e061ba-08ad-c46a-7715-c8f04175ed3e"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="55ea49e9-a223-ec94-f840-544a50bd669f"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b67d24e8-352f-5e57-986b-05db73e49b97"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="345066f5-b01a-ab25-5116-b9f032ff04b5"] {
        display: none;
    }
}

@media (max-width:479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="360ec5fa-cb8c-7759-53c5-22d986d3735f"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6b09e631-e34a-331c-9138-47a4ed2f8358"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6d916997-352c-6744-1400-08ed0c3715f6"] {
        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6a00fcd4-d255-cc94-c1f0-7a3256c71f66"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2541e519-b61d-4980-f131-3e5374ed3532"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="301fb5e8-7da8-c773-7502-60f99bc77838"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b75925db-c1fc-9104-6907-706288524e02"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="65679573-7b3a-c13e-25ec-26a018ada495"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="99ad6557-d450-737f-bb3a-952bc226c20e"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d26c2b2a-5707-3f0d-7132-be46ec065c3d"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="67e061ba-08ad-c46a-7715-c8f04175ed3e"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="55ea49e9-a223-ec94-f840-544a50bd669f"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b67d24e8-352f-5e57-986b-05db73e49b97"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="345066f5-b01a-ab25-5116-b9f032ff04b5"] {
        display: none;
    }
}
